<h1>Edit Discount <%= @discount.id %></h1>

<section id="edit_discount">
  <%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts/#{@discount.id}", method: :patch, local: true do |form| %>
    <%= form.label :discount_percent %>
    <%= form.number_field :discount_percent, :value => @discount.discount_percent %>
    <%= form.label :threshold %>
    <%= form.number_field :threshold, :value => @discount.threshold %>
    <%= form.submit "Submit"%>
  <% end %>
</section>
